<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body background="library.jpg">

  <center>

    <div class="w3-panel w3-blue">
      <h1 class="w3-text-orange" style="text-shadow:1px 1px 0 #444">
        <b>Data Added Successfully in DataBase...</b>
    </div>

    <div class="w3-container" width=50%>
      <div class="w3-panel w3-blue w3-card-4">
        <a href="/web"> Go to Register Page </a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <a href="/info"> Retrieve Students Information </a>
      </div>
    </div>

    </div>
  </center>
</body>

</html>